# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
reactapp/node_modules

# testing
reactapp/coverage

# production
reactapp/build

# misc
reactapp/.DS_Store
reactapp/.env.local
reactapp/.env.development.local
reactapp/.env.test.local
reactapp/.env.production.local

reactapp/npm-debug.log*
reactapp/yarn-debug.log*
reactapp/yarn-error.log*

DAO/__pycache__
board/__pycache__
account/__pycache__
board/migrations
account/migrations
db.sqlite3

SCORE/muljomDAO/.DS_Store
SCORE/.DS_Store
account/.DS_Store
.DS_Store
.score
.statedb
*.log

test/*
SCORE/muljomDAO/.idea/*